*{
    margin: 0;
    padding: 0;
}
html{
    font-family: sans-serif;    
}
body{
    background-color: rgb(148, 148, 148);

}

#form-control{
    width: 300px;
}

#brand{
    background-color: rgb(56, 127, 160);
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
    
}
#home{
    font-size: 18px;
}

#footer{
    height: 300px;
}